

<nav>
    <div class="wrapper">
      <div class="logo">       <li><%= link_to 'Nomadic', root_path %></li>
</div>

      <ul class="nav-links">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#">About</a></li>
        <li>        <%= link_to 'Tours', items_path %></li>

        <li>
          <a href="#" class="desktop-item">Menu</a>
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <% if @current_user.present? %>
            <li>  <%= link_to 'Your profile', user_path(@current_user.id) %></li>
            <li>  <%= link_to 'Your cart', cart_path(@current_cart) %></li>

            <li>    <%= link_to 'All orders', orders_path %></li>
                
          <li>    <%= link_to "Log out", login_path, :method => 'delete' %></li>
              <% else %>
          <li>    <%= link_to 'Sign up', new_user_path %></li>
          <li>    <%= link_to 'Log in', login_path %></li>


            <% end %>

          </ul>
        </li>

        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
